body {
    font-family: 'Anton', sans-serif;
}

header {
    height: 200px;
    background-color: rgb(255,0,0,0.5);
    width: 100%;
}

.title {
    font-family: 'Anton', sans-serif;
}

.nav h1 {
    text-align: center;
    padding: 10px;
    font-size: 80px;
}

ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

ul li a {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

a:link, a:visited .read  {
    background-color:red;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
}
.read a:hover, a:active {
    background-color: rgb(22, 1, 1);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

main h1 {
    color: purple;
    justify-content: center;
    display: flex;
    
}

main p {
display: flex;
flex-direction: column;
}



@media (max-width: 576px) {

    .nav h1 {
        font-size: 30px;
    }

    main {
        font-size: 30px;
    }

    ul {
        
        padding-top: 60px;
        padding-right: 80px;
        display: flex; 
        align-items: flex-end;
    }
    
    ul li a {
        font-size: 20px;
    }

    section {
        height: 100%
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 95%;
        grid-template-areas:
        "title title"
        "p par";
    }

    main h1 {
        grid-area: title;
    }

    ul li a {
        float: left;
    }

    p {
        grid-area: p;
        padding: 2px;
        }
        
        .par {
        grid-area: par;
        padding: 2px;
        }

    
}