body {
    background-color: gray;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "article"
    "footer";
    
}

header {
    background-color: yellow;
    height: 200px;

}

header img {
    height: 120px;
    width: 120px;
    padding: 15px;
}

header b {
    color: red;
    text-align: center;
    display: block;
    font-size: 55px;
    font-family: fantasy;


}

.main {

    background-color: orange;
}

.article {
    background-color: blue;

}

.footer {
    background-color: red;
}