body {
    margin: 0 auto;
    width: 850px;
}

main {
    height: 450px;
    background-image: url(./img/nasa-BG.jpg);
    color: white;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 375px;
    margin: 0 auto;
    background-color: gray;
}

article {
    width: 270px;
    height: 374px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: left;


}

