.bigbox {
    width: 60px;
    margin: auto;
}

.bigbox div {
    height: 50px;
    width: 50px;
    margin: 20px;
    border: 1px solid black;
}

.bigbox div:nth-child(odd) {
    right: 0;
    transition: 4s;
    
}

.bigbox div:nth-child(even) {
    right: 0;
    transition: 4s;
    
}

.bigbox:hover > div:nth-child(odd) {
    height: 100px;
    width: 100px;
    transform: translate(700px) rotate(360deg);

}

.bigbox:hover > div:nth-child(even) {
    height: 25px;
    width: 25px;
    transform: translate(-700px) rotate(-360deg);

}

.smallbox1 {
    background-color: red;

}

.smallbox2 {
    background-color: blue;

}

.smallbox3 {
    background-color: green;
}

.smallbox4 {
    background-color: purple;

}

.smallbox5 {
    background-color: deeppink;
}

.smallbox6 {
    background-color: orange;
}

.smallbox7 {
    background-color: yellow;
}

.smallbox8 {
    background-color: aquamarine;
}

.smallbox9 {
    background-color: grey;
}

.smallbox10 {
    background-color: lightblue;
}

.smallbox11 {
    background-color: tan;
}

.smallbox12 {
    background-color: navy;
}