body {
    color: white;
    font-family: 'Anton', sans-serif;
    background-color: purple;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 53px;
    
}
div {
    text-align: center;
    margin: 0px auto;
    text-align: center;
    margin: auto;
}

table {
    display: flex;
    justify-content: center;
}

.cell {
    width:80px;
    height:80px;
    background: #FFFFFF;
    font-size: 46pt;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: black;
}

.cell:hover {
    background: fuchsia;
    text-align: center;
}
